<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="images/x-icons" th:href="@{/icon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
    <section class="navbar">
            <div class="navbar-icon">
                <img class="icon" th:src="@{/icon.png}"/>
                <h1>WATCH-LIST</h1>
            </div>
        	<div class="navbar-select">
	           <a class="navbar-select-opt" th:href="@{/all}">MOVIES AVALIABLE</a>
	           <a class="navbar-select-opt" th:href="@{/mine}">MY MOVIES</a>
	           <a class="navbar-select-opt" th:href="@{/add}">REGISTER NEW MOVIE</a>
        	</div>
    </section>    
    <section class="banner-container">
        <div>    
            <img th:src="@{/cinema.png}"/>
            <span></span>
            <img th:src="@{/movie.png}"/>
        </div>
        <div>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate quidem dignissimos! Possimus, odit quis et est nobis optio maiores suscipit repudiandae, nulla earum odio cum aut eligendi laborum veniam.
            Natus ex aperiam magni, sint beatae quis atque delectus tempore molestiae? Eos dolore quibusdam sequi quisquam excepturi corporis rerum impedit quae eveniet? Quasi aspernatur eligendi dignissimos odit eaque praesentium. Voluptas.
            Velit ad corrupti tenetur. A molestiae similique non? Obcaecati in debitis eaque ab natus dolorum repellat nesciunt mollitia nam consequatur fugit ut sint, soluta saepe rerum recusandae placeat esse molestiae?</p>
        </div>
    </section>
</body>
</html>