<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine</title>
    <link rel="icon" type="images/x-icons" th:href="@{/icon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
    <section class="navbar">
        <a class="home-ref" th:href="@{/home}">
            <div class="navbar-icon">
                <img class="icon" th:src="@{/icon.png}"/>
                <h1>WATCH-LIST</h1>
            </div>
        </a>
        <div class="navbar-select">
            <a class="navbar-select-opt" th:href="@{/home}">HOME</a>
            <a class="navbar-select-opt" th:href="@{/all}">MOVIES AVALIABLE</a>
            <a class="navbar-select-opt" th:href="@{/add}">REGISTER NEW MOVIE</a>
        </div>
    </section>   
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>MOVIE NAME</th>
                    <th>DIRECTED BY</th>
                    <th>RELEASED ON</th>
                    <th>DELETE</th>        
                </tr>    
            </thead>
            <tbody>
                <tr th:each="m:${movies}">
                    <td th:text="${m.id}"></td>
                    <td th:text="${m.mname}"></td>
                    <td th:text="${m.dname}"></td>
                    <td th:text="${m.year}"></td>
                    <td><a th:href="@{/mine/delete/{id}(id=${m.id})}"><img src="delete.png" /></a></td>
                </tr>
            </tbody>
        </table>
    </section>   
</body>
</html>